
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <!-- Search paquete -->
    <form action="/admin/producto/delete?_method=DELETE" method="POST" class="create_form" id= 'form_delte' enctype="multipart/form-data">
        <label for="paquetes">Paquetes turísticos: </label>
            <select name="paquetes">
                <option value="bariloche">Bariloche</option>
                <option value="buenos_aires">Buenos Aires</option>
                <option value="mendoza">Mendoza</option>
                <option value="iguazu">Iguazú</option>
                <option value="fin_mundo">Fin del Mundo</option>
            </select>
        <button type="submit">Buscar</button>
    </form>
    <!-- Formulario -->
    <form action="/index" method="GET" class="create_form">
        <h3>Formulario para crear un paquete turistico</h3>
        <div class="control_formulario">
            <label>package_id: </label>
            <p><%= package.package_id %> </p>
        </div>
        <div class="control_formulario">
            <label>package_name: </label>
            <p><%= package.package_name %> </p>
        </div>
        <div class="control_formulario">
            <label>package_image: </label>
            <p><%= package.package_image %> </p>
        </div>
        <div class="control_formulario">
            <label>package_alt_image: </label>
            <p><%= package.package_alt_image %> </p>
        </div>
        <div class="control_formulario">
            <label>package_price: </label>
            <p><%= package.package_price %> </p>
        </div>
        <div class="control_formulario">
            <label>package_title: </label>
            <p><%= package.package_title %> </p>
        </div>
        <div class="control_formulario">
            <label>package_q_days: </label>
            <p><%= package.package_q_days %> </p>
        </div>
        <div class="control_formulario">
            <label>package_hotel: </label>
            <p><%= package.package_hotel %> </p>
        </div>
        <div class="control_formulario">
            <label>package_stars_hotel: </label>
            <p><%= package.package_stars_hotel %> </p>
        </div>
        <div class="control_formulario">
            <label>package_description: </label>
            <p><%= package.package_description %> </p>
        </div>
        <div class="control_formulario">
            <label>package_date_admission: </label>
            <p><%= package.package_date_admission %> </p>
        </div>
        <div class="control_formulario_perfil">
            <label for="package_index">package_index: </label>
            <p><%= package.package_index %> </p>
        </div>
        <div class="control_formulario_perfil">
            <label for="package_category">package_category: </label>
            <p><%= package.package_category %> </p>
        </div>
        <div class="control_formulario_perfil">
            <label for="package_transportation">package_transportation: </label>
            <p><%= package.package_transportation %> </p>
        </div>
        <div class="control_formulario">
            <label>package_excursions_id: </label>
            <p><%= package.package_excursions_id %> </p>
        </div>                                                                       
        <button type= "submit" class="boton_formulario">Home</button>
        
    </form>
    <%- include('../partials/footer') %>
</body>
</html>