
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header_admin') %>
    <!-- Formulario -->
    <form action="/admin/producto/delete/<%= package.package_id%>?_method=DELETE" method="POST" class="create_form" 
                                            id= 'form_delete' enctype="multipart/form-data">
        <h3>Formulario para borrar un paquete turistico</h3>
        <div class="control_formulario">
            <label><strong></strong> package_id: <%= package.package_id%></strong></label>
        </div>
        <div class="control_formulario">
            <label>package_name: <%= package.package_name%></label>
            <label>package_image: <%= package.package_image%></label>
            <label>package_alt_image: <%= package.package_alt_image%></label>
            <label>package_price: <%= package.package_price%></label>
            <label>package_title: <%= package.package_title%></label>
            <label>package_q_days: <%= package.package_q_days%></label>
            <label>package_hotel: <%= package.package_hotel%></label>
            <label>package_stars_hotel: <%= package.package_stars_hotel%></label>
            <label>package_description: <%= package.package_description%></label>
            <label>package_date_admission: <%= fecha_admision.fecha%></label>
            <label for="package_index">package_index: <%= package.package_index%></label>
            <label for="package_category">package_category: <%= package.package_category%></label>
            <label for="package_transportation">package_transportation: <%= package.package_transportation%></label>
            <label>package_excursions_id: <%= package.package_excursions_id%></label>
            <label>package_discount: <%= package.package_discount%></label>
        <button type= "submit" class="boton_formulario">DELETE</button>
        <button type="reset" class="boton_formulario"><a href="/admin/productos">Cancelar</a></button>
    </form>
    <%- include('../partials/footer_admin') %>
</body>
</html>