<%- include('./partials/head') %>

    <body>

        <%- include('./partials/header') %>

        <main>
            <section class="packages">
                <h2 class="sheet_title">Paquetes</h2>
                <div class="products">
                    <section class="paquetes">
                        <div class="products">
                            <% for (let paquete of data_packages) { %>
                                <%- include('./partials/short_detail', {paquete}) %>
                                <%- include('./partials/long_detail', {paquete}) %>
                            <% } %>
                        </div> 
                    </section>
                </div> 
            </section>
        </main>

        <%- include('./partials/footer') %>
        
    </body>
</html>