<%- include('./partials/head') %>

    <body>

        <%- include('./partials/header') %>

        <main>
            <section >
                <h2 class="title"><%= package.package_name %></h2>
                <article >
                    <figure class="detailPic">
                        <img src='/images/<%= package.package_image %>' alt='<%= package.package_alt_image %>' height="300px" width="500px">
                    </figure>
                </article>
                <article class="detail">
                    <div class="subtitle_and_button">
                        <div class="subtitle">
                            <div class="product_title">
                                <p><strong> <%= package.package_title %> </strong></p>
                            </div>
                            <div class="product_price">
                                <p><strong> <%= package.package_price %> </strong></p>
                            </div>
                        </div>
                        <!--<div class="subtitle_button">
                            <button type="submit" class="buy_button" value="Submit"><a class="buy_button" href="/cart">Agregar al carrito</a></button>
                        </div>-->
                        <form action="/cart/add/<%= package.package_id%>" method="GET" class="subtitle_button">
                            <button type="submit" class="buy_button">Agregar al carrito</button>
                        </form>
                        </div>
                    <p><strong>El alojamiento ofrece:</strong><ul>
                        <%= package.package_description %>
                    </ul></p>

                    <h3> Conocé un poco más</h3>
                    <h4>El paquete inlcuye:</h4>
                    <div>
                        <ul>
                            <p><strong>Alojamiento en el <%= package.package_hotel %> <%= package.package_stars_hotel %></strong></p>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <p><strong>La fecha de entrada al hotel es: <%= package.package_date_admission %></strong></p>
                        </ul>
                    </div>
                    <div>
                        <p><strong>Condiciones del alojamiento</strong></p>
                        <p>Horarios:<ul>
                            <li>Check In: 15:00</li>
                            <li>Check Out: 10:00</li>
                        </ul></p>
                        <p>Desayuno:<ul>
                            <li>De 07:30 a 10:00</li>
                        </ul></p>
                    </div>
                </article>
            </section>
        </main>

        <%- include('./partials/footer') %>

    </body>
</html>