<%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>
    
        <main class="cartMain" >
            <section class="sectionCart">
                <h2 class="h2Cart">Carrito</h2>
                <% for (let paquete of data_show_cart) {%>
                    
            
                    <article <%= paquete.package_id %> class="porComprar">
                        <p class="descripcionCart"><%= paquete.package_name %> </p> 
                        <figure><img src="/images/<%= paquete.package_image %>" alt="<%= paquete.package_alt_image %>"></figure>
                        <div class="texto">
                            <p class="desc"> <%= paquete.package_title %> </p>
                            <p class="precioCart"> <%= paquete.package_price %></p>
                            <p class="descuentoCart"> <%= paquete.package_price %> off </p>  
                        </div>
                        <% } %>
                        <br>
                        
                    </article>
                            
                        <hr class="hr">
            </section>   
            
            <section>

                    <article>  
                        <div class="start_buy" >
                            <p class="textTotal"><strong>Total:</strong></p>
                            <p class="montoTotal"><strong>$40.770</strong></p>
                        
                       
                            <div class="action_cart">
                            
                                <form action="cart/cartForm" method="get">
                                    <a href="#eliminar" for="button_reset">
                                    <button class="remove" type="reset" name="button_reset" id="button_reset"><i class="fa-solid fa-trash-can"></i></button></a>
                    
                                    <a href="cart/cartForm" for="start_buy"> 
                                    <button class="botonPago" type="submit" value="sumbit" name="start_buy" id="start_buy">Iniciar compra</button></a>
                                </form>
                            
                                <label class="keep_buy">
                                    <a href="./index">Seguir comprando<i class="fa-solid fa-cart-shopping"></i></a>
                                </label>
                            </div>
                        </div>
                    </article> 
            </section>
        </main>
        
    <%- include('./partials/footer') %>

</body>
</html>