<%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>
    
        <main class="cartMain" >
            <section class="sectionCart">
 
                <h2 class="h2Cart">Carrito</h2>
                
                <% for (let paquete of data_show_cart) {%>
                    
            
                    <article <%= paquete.package_id %> class="porComprar">
                        <p class="descripcionCart"><%= paquete.package_name %> 
                            <form action="/cart/delete/<%= paquete.package_id %>?_method=DELETE"" method="post" >
                                <button  class="remove" type="submit" name="button_reset" ><i class="fa-solid fa-trash-can"></i></button></a>
                            </form>  
                        </p>
                        
                        <figure class="img_cart"><img src="/images/<%= paquete.package_image %>" alt="<%= paquete.package_alt_image %>"></figure>
                        <div class="texto">
                            <p class="desc"> <%= paquete.package_title %> </p>
                            <p class="precioCart">$ <%= paquete.package_price %></p>
                            <p class="descuentoCart"> <%= paquete.package_discount %> off </p>  
                        </div>
                        <% } %>
                        <br>
                        
                    </article>
                            
                        <hr class="hr">
            </section>   
            
            <section>

                    <article>  
                       
                        <div class="start_buy" >
                            <p class="textTotal"><strong>Total:</strong></p>
                      
                            <p class="montoTotal"><strong>  </strong></p>
         |               
               
                            <div class="action_cart">
                            
                                <form action="/cart/purchase" method="get">
                                   
                                    <button class="botonPago" type="submit" value="iniciar_compra" name="start_buy" id="start_buy">Iniciar compra</button></a>
                                </form>
                            
                                <label class="keep_buy">
                                    <a href="./index">Seguir comprando<i class="fa-solid fa-cart-shopping"></i></a>
                                </label>
                            </div>
                        </div>
                    </article> 
            </section>
        </main>
        
    <%- include('./partials/footer') %>

</body>
</html>