<article>
    <div class="item_producto_admin">
        <figure class="product_image_admin">
            <img src='/images/<%= paquete.package_image ? paquete.package_image: 'default.png' %>' alt='<%= paquete.package_alt_image%>' >
            <%- include('menu_iconos_admin', {paquete}) %> 
        </figure>
        <div class="seccion_campos_admin">
            <p class="campos_admin"><strong>ID: <%= paquete.package_id%></strong></p>    
            <p class="campos_admin">Nombre: <%= paquete.package_name%></p>
            <p class="campos_admin">Precio: <%= paquete.package_price%></p>
            <p class="campos_admin">Titulo: <%= paquete.package_title%></p>
            <p class="campos_admin">Cantidad de días: <%= paquete.package_q_days%></p>
            <p class="campos_admin">Hotel: <%= paquete.package_hotel%></p>
            <p class="campos_admin">Estrellas del Hotel: <%= paquete.package_stars_hotel%></p>
            <p class="campos_admin">Descripción: <%= paquete.package_description%></p>
            <p class="campos_admin">Fecha de admisión: <%= paquete.package_date_admission%></p>
            <p class="campos_admin">Vidriera del Home: <%= paquete.package_index== "true"? "SI" : "NO"%></p>
            <p class="campos_admin">Categorias: <%= paquete.package_category== "1" ? "Paquete regular" : "Paquete oferta"%></p>
            <p class="campos_admin">Transporte: <%= paquete.package_transportation== "1" ? "Aereo" : paquete.package_transportation== "2" ? "Bus" : "Sin transporte"%></p>
            <p class="campos_admin">Excursiones: <%= paquete.package_excursions_id%></p>
            <p class="campos_admin">Descuento: <%= paquete.package_discount%>%</p>
        </div>
    </div>
</article>


