<article id="<%= paquete.package_id%>">
    <figure class="product_image">
        <a href="/productDetail/<%= paquete.package_id %>">
            <img class='llenar' src='/images/<%= paquete.package_image ? paquete.package_image: 'default.png' %>' alt='<%= paquete.package_alt_image%>' >
        </a>  
    </figure>
    <p class="descripcion"><strong><%= paquete.package_title%></strong></p>    
    <p class="precio">Precio: <%= paquete.package_price%></p>
    <p class="descuento">Oportunidad: <%= paquete.package_discount%> OFF</p>
</article>