<article>
    
    <figure class="product_image">
        <a href="/productDetail">
            <img src= <%= paquete.image %> alt= <%= paquete.alt_image%>
        </a>  
    </figure>
    <p class="descripcion"><strong><%= paquete.description%></strong></p>    
    <p class="precio">Precio: <%= paquete.price%></p>
    <p class="descuento">Oportunidad: <%= paquete.discount%> OFF</p>
</article>